include partials/_viewtop.php
include ../common/_mixins
.hero
  .hero-inner
    img(src="jacmoe.jpg" alt="Den Stammende Kok" width="150" height="200")
    .hero-copy
      h1.hero-title Den Stammende Kok
      p Dette er Jacob Moen's hjemmeside, hvor han i stigende grad skriver interessante ting.
.content
  +icondiv('heart')
.content
  -$post = Page::pages('datetime DESC', array('published', '==', true))->first();
  include partials/_postentry
