header
  .container
    #header
      #logo
        span.logo
          a(href=Yii::$app->homeUrl)
            img(height="36" width="36" title="Den Stammende Kok"
              src=$pype_logo alt="Den Stammende Kok")
            span.logo-text Jacmoes Cyber Soapbox
      #headermenu
        nav.right
          !=Html::a('Hjem', Page::url('index'), array('class' => ($view->params['url'] == 'index') ? 'active' : ''))
          !=Html::a('Blog', Page::url('blog'), array('class' => ($view->params['url'] == 'blog') ? 'active' : ''))
          !=Html::a('Om', Page::url('om'), array('class' => ($view->params['url'] == 'om') ? 'active' : ''))
          !=Html::a('', Url::to('/feed'), array('class' => 'rss-link', 'title' => 'RSS Feed'))
