!!!
%html(lang="da")
  -set mytype = 'index'
  -include 'header.haml' with {'type': mytype}
  %body
    .wrapper-for-content-outside-of-footer
      -include 'mainmenu.haml' with {'type': mytype}
      %main#main
        .hero
          .hero-inner
            %img(src="#{ base_url }/content/images/om/chefsselfie_custom.jpg" alt="Den Stammende Kok")
            .hero-copy
              %h1.hero-title Den Stammende Kok
              %p Dette er Jacob Moen's hjemmeside, hvor han i stigende grad skriver interessante ting.
        .ui.horizontal.divider
          %i.fi-heart
        -if lastpost != null
          .latest-post
            Seneste blog-indlæg:
          -include 'blogentry.haml' with {'entry': lastpost}
    / Common includes
    -include 'footer.haml' with {'type': mytype}
    -include 'scripts.haml'
    -include 'ga_track.haml'
