!!!
%html(lang="da")
  -set mytype = 'about'
  -include 'header.haml' with {'type': mytype}
  %body
    .wrapper-for-content-outside-of-footer
      / main menu
      -include 'mainmenu.haml' with {'type': mytype}
      %main#main
        %h1.header Om
        %hr
        .cards
          .card
            .card-header
              %span.quiet Kontakt:
            .card-copy
              %div(itemscope itemtype="http://schema.org/Person")
                %a(itemprop="url" href="https://hjem.jacmoe.dk/om")
                  %div(itemprop="name")
                    %strong Jacob Moen
                %div(itemprop="address"
                  itemscope itemtype="http://schema.org/PostalAddress")
                  %div
                    %div
                      %span(itemprop="streetAddress") Dragerup Skov
                    %div
                      %span(itemprop="addressLocality") Tjebberup
                    %div
                      %span(itemprop="postalCode") 4300
                      Holbæk
                    %div
                      %span(itemprop="addressCountry") Denmark
          .card
            .card-header Jacob Moen
            .card-copy
              %img.gallery.th.image(src="content/images/om/chefsselfie_custom.jpg"
                                    alt="Jacob Moen" title="Jacob Moen")
          .card
            .card-header
              %span.quiet Andetsteds
            .card-copy
              %div
                %p
                  %i.fa.fa-bitbucket.fa-lg
                  %a(href="https://bitbucket.org/jacmoe/"
                    target="_blank")  Bitbucket
                  %br
              %div
                %p
                  %i.fa.fa-github.fa-lg
                  %a(href="https://github.com/jacmoe"
                    target="_blank")  Github
                  %br
              %div
                %p
                  %i.fa.fa-google-plus.fa-lg
                  %a(href="https://plus.google.com/u/0/+JacobMoen/posts"
                    target="_blank")  Google+
                  %br
              %div
                %p
                  %i.fa.fa-twitter.fa-lg
                  %a(href="https://twitter.com/jacmoe"
                    target="_blank")  Twitter
                  %br
              %div
                %p
                  %i.fa.fa-codepen.fa-lg
                  %a(href="http://codepen.io/jacmoe/"
                    target="_blank")  Codepen
                  %br
              %div
                %p
                  %i.fa.fa-institution.fa-lg
                  %a(href="https://www.khanacademy.org/profile/jacmoe/"
                    target="_blank")  Khan Academy
                  %br
              %div
                %p
                  %i.fa.fa-code.fa-lg
                  %a(href="https://www.codecademy.com/jacmoe"
                    target="_blank")  Codecademy
                  %br
              %div
                %p
                  %i.fa.fa-facebook.fa-lg
                  %a(href="https://www.facebook.com/jacmoe"
                    target="_blank")  Facebook
                  %br
              %div
                %p
                  %i.fa.fa-linkedin.fa-lg
                  %a(href="https://www.linkedin.com/in/jacmoe"
                    target="_blank")  LinkedIn
                  %br
        .row
          .quiet.text-center.row
            Se også min engelske hjemmeside:
            %a(href="https://jacmoe.dk/") Jacmoes Cyber Soapbox
        .ui.horizontal.divider
          %i.fi-heart
        .row
          .half
            %p Jacob Moen bor lige ved indkørselen til Dragerup skov ved Tjebberup, Holbæk, sammen med sin svenske kæreste Taina og 4 huskatte.
            %p Jacob blev færdig med grundforløbet på Hotel- og Restaurantskolen i Valby den 13. juni 2014, og ser nu frem til at komme i lære som kok.
            %p Han er født i Bærum, Norge i 1968, men blev adopteret til Danmark 5 år gammel.
            %p Da han blev færdig med uddannelsen som lærer tog han til Oslo, Norge hvor han boede i 12 år. Sommeren 2004 flyttede han tilbage til Danmark.
          .half
            %p Når han ikke finpudser køkkenkundskaberne, tilbringer han alt for megen tid foran PCen som web udvikler (PHP) og c++ programmør (3D grafik).
            %p Desuden sætter Jacob pris på en god bog, hvad enten den er på engelsk eller et nordisk sprog.
            %p Han spiller elektrisk guitar, kan lide at arbejde i haven, diskutere filosofi eller gå en tur, men det er madlavning og programmering som er de primære fritidsinteresser.
            %p Efter at have prøvet kræfter med lærergerningen og tilværelsen som programmør, glæder Jacob sig til at lære et rigtig håndværk.
            %p Målet er at blive en hamrende dygtig kok.
        / content
        =content
    / Common includes
    -include 'footer.haml' with {'type': mytype}
    -include 'scripts.haml'
    -include 'ga_track.haml'
